{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="bodyapp text-center mt-3 mb-2">
        <form method="post" class="mt-5 mb-3 ">
            <fieldset id="fieldLogin">
                <legend class="text-wesBlue h1">Connectez vous</legend>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Bonjour {{ app.user.username }} <a class="btn btn-sm btn-pinkApp" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12 mt-3">
                            <label for="inputEmail"></label><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="email">
                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <label for="inputPassword"></label><input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                            <a class="mt-2 d-block" href="{{ path('app_forgot_password_request') }}">mot de passe oublié</a>
                        </div>
                    </div>
                    <button id="subBtn" class="btn btn-wesBlue mt-4 mb-3 pt-3 pb-3" type="submit">
                        Connexion
                    </button>
                {% endif %}

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3 text-wesYellow">
                        <label>
                                <input id="user_remember" type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                </div>

            </fieldset>
        </form>
        <div class="row m-auto">
            <div class="col-12">
                <div class="box box__profil--color mt-3 mb-4 center-div">
                    <a href="{{ path('home') }}"><i class="fas fa-3x fa-home icon icon__profil--color pt-4"></i></a>
                </div>
                <p class="mt-2 text-light reason">Page d'accueil</p>
            </div>
        </div>
    </div>
{% endblock %}