{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="bodyapp text-center mt-3 mb-2 text-light p-2">
        <p>
            Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure.</p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam <a class="text-wesBlue" href="{{ path('app_forgot_password_request') }}"> réessayer</a>.</p>
        <div class="row m-auto">
            <div class="col-12">
                <div class="box box__profil--color mt-3 mb-4 center-div">
                    <a href="{{ path('home') }}"><i class="fas fa-3x fa-home icon icon__profil--color pt-4"></i></a>
                </div>
                <p class="mt-2 text-light reason">Page d'accueil</p>
            </div>
        </div>
    </div>

{% endblock %}
