<div class='blockMail' style="width: 80%; text-align: center; margin: auto; padding: 5%; border: 1px solid #F0F0F0 ">
    <img src="https://i.ibb.co/kXkWnC7/clickatt.png" alt="logo dérogation-covid" style="
	border: 5px solid grey;
	width: 200px; margin-bottom: 5%">
    <div class='blockNote'style='width: 80%; border: 1px solid #F0F0F0; margin: auto; background-color: #fff; padding: 25px; -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);'>
        <h1>Bonjour</h1>
        <p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
        <p>Ce lien expire dans {{ tokenLifetime|date('g') }} heure.</p>

        <p>À votre santé</p>
    </div>
</div>