{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="bodyapp text-center mt-3 mb-2 text-wesBlue">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-wesBlack bg-light p-3">Réinitialiser votre mot de passe</h1>
    <div class="row m-auto">
        <div class="col-12 mt-1 mb-1">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
        </div>
        <div class="col-12 mt-1 mb-1">
            <small class="text-wesYellow h6">
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>
    </div>


    <button id="sendBtn" class="btn btn-wesBlue m-4">Envoyer un e-mail de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}