{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="bodyapp text-center mt-3 mb-2 text-light p-2">
        <fieldset id="fieldReset">
            <legend class="text-wesBlue h1">
                Réinitialiser votre mot de passe</legend>
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-wesBlue mt-4 mb-3 pt-3 pb-3">
                Réinitialiser le mot de passe</button>
            {{ form_end(resetForm) }}
        </fieldset>
    </div>
{% endblock %}
