$wesYellow: hsl(47, 99%, 49%);
$pinkApp: hsl(332, 61%, 57%);
$blueApp: hsl(208, 78%, 28%);
$wesBlue: hsl(177, 50%, 56%);
$wesBlack: hsl(0, 0%, 11%);

$theme-colors: (
  "wesYellow": $wesYellow, "pinkApp": $pinkApp, "blueApp": $blueApp, "wesBlue": $wesBlue, "wesBlack": $wesBlack
);
