@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Roboto:wght@500&display=swap');
@import "variable";
fieldset, #fieldLogin, #fieldNew, #fieldReset {
    margin: 0 auto;
    width: 85%;
    padding: 1em;
    border: 1px solid $wesYellow;
    border-radius: 1em;
}

body {
    margin: 0;
}
.bodyapp {
    font-family: 'Roboto', sans-serif;
    background: $wesBlack;
    border-radius: 15px;
    border: 10px solid $wesBlue;
    min-height: 90vh;
}
@media screen and (min-width: 1024px) {
    .bodyapp {
        width: 60%;
        margin: auto;
    }
}
h1 h2 h3 {
    font-family:'Kanit', sans-serif;
}
.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 10px solid $wesYellow;
    border-radius: 15px;
    background: $wesBlue;
    transform-style: preserve-3d;
    transition:
            background ease-in-out .2s,
            box-shadow ease-in-out .2s;
    &__profil--color{
        background-color: $pinkApp;
        border: 10px solid white;
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }
}
.box:hover{
    box-shadow: 0 4px 3px #000;
    text-shadow: 3px 3px 1px #000;
    border: 10px solid #fff;

}

.box .icon {
    transform: translateZ(30px);
    color: $wesYellow;
    &__profil--color {
        color: white;
    }
}
.box:hover i {
    color: #fff;
}
.reason {
    font-size: 2em;
    font-weight: bold;
    color: $wesBlue;
}
@media screen and (max-width: 470px) {
    .reason {
        font-size: 1.4em;
    }
}
.home-img {
    width: 50%;
    height: auto;
}
@media screen and (min-width: 1024px) {
    .home-img {
        width: 30%;
        height: auto;
    }
}
legend, #labelAccept label {
    text-decoration: underline $wesYellow;
}
form div div ul{
    list-style:none;
    & li {
        background-color: $wesYellow;
        padding: 5px;
        color: $wesBlack;
        border-radius: 10px;
        border: solid 3px $wesBlue;
    }
}
#subBtn, #saveBtn, #modifBtn, #sendBtn {
    font-size: 1.5em;
    border-radius: 10px;
    border: solid 3px $wesYellow
}
div label {
    font-size: 1.3em;
    padding-right: 10px;
}
div input {
    width: 100%;
}
#user_accept, #user_remember {
    width: 25px;
    height: 25px;
}
#sectionConnexion {
    margin: auto;
    &__h1 {
        color: $wesBlue;
        padding-top: 1rem;
        font-size: 1.5rem;
    }
    &__h2 {
        color: #FFFFFF;
        padding: .5rem;
        font-size: 1.25rem;
    }
    &__p {
        color: $wesBlue;
        padding-top: .5rem;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    &__a {
        color: #FFFFFF;
        padding: .5rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
}

@import "~bootstrap/scss/bootstrap";