<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-F8E4ZTEGBF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-F8E4ZTEGBF');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="dérogation-covid.fr, est un service personnel de génération en un click, d'attestation dérogatoire covid-19 en version numérique ">
        <meta name="keywords" content="derogation-covid.fr, covid-19, attestation, déclaration, déplacement, dérogation, sortie, générateur, gouvernement">
        <link rel="canonical" href="https://www.derogation-covid.fr/">
        <link rel="icon" type="image/png" href="{{ asset('image/clickatt-min.png') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}

        <script type='text/javascript'>
            //<![CDATA[
            function loadCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }loadCSS("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
            //]]>
            //<![CDATA[
            function loadAPPCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }loadCSS("{{ asset('build/app.60f6de81.css') }}");
            //]]>
        </Script>
    </head>
    <body>
    <div class="container">
        {% if message is defined %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
            <script src="{{ asset('js/vanilla.js') }}"></script>
            <script src="{{ asset('js/urlMaker.js') }}"></script>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.locale = "fr";
                a2a_config.num_services = 2;
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
        {% endblock %}
    </body>
</html>
