<div class="col-6">
    <div class="box box__profil--color mt-3 mb-4 center-div">
        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
            <button class="btn mb-3"><i class="fas fa-3x fa-trash-alt icon icon__profil--color pt-4"></i></button>
        </form>
    </div>
    <p class="mt-2 text-light reason">Delete</p>
</div>