{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="bodyapp text-wesBlue text-center mt-3 mb-2">
        <h1 class="mt-3">Profil</h1>

        <fieldset id="fieldNew">
            <legend>Modifier votre profil</legend>
            {{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
            {# utilisation de classes bootstrap pour la mise en forme #}
            <div class="row">
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.password, 'Mot de passe') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    <label for="verifpass">Saisir une seconde fois le mot de passe</label>
                    <input type="password" id="verifpass" required>
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.firstname, 'Prénom') }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.lastname, 'Nom') }}
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.birthday, 'Date de naissance') }}
                    {{ form_widget(form.birthday) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.placeOfBirth, 'Lieu de naissance') }}
                    {{ form_widget(form.placeOfBirth) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.address, 'Adresse') }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.city, 'Ville') }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.zipcode, 'Code postale') }}
                    {{ form_widget(form.zipcode) }}
                </div>

                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.urltoattest) }}
                    {{ form_widget(form.urltoattest) }}
                </div>

            </div>
            <button id="modifBtn" onclick="refreshData()" class="btn btn-wesBlue mt-1 mb-1">{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}
        </fieldset>
        <div class="row m-auto">
            <div class="col-6">
                <div class="box box__profil--color mt-3 mb-4 center-div">
                    <a href="{{ path('member') }}"><i class="fas fa-3x fa-door-open icon icon__profil--color pt-4"></i></a>
                </div>
                <p class="mt-2 text-light reason">Page Membre</p>
            </div>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
