{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="bodyapp text-wesBlue text-center mt-3 mb-2">
        <h1 class="titleForm p-4 text-wesBlack bg-light">Inscription</h1>

        <fieldset id="fieldNew">
            <legend class="surLegend">Inscrivez vous</legend>
            {{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
            {# utilisation de classes bootstrap pour la mise en forme #}
            <div class="row text-left m-auto">
                <div class="col-12 mt-1 mb-1 ">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.password, 'Mot de passe') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    <label for="verifpass">Saisir une seconde fois le mot de passe</label>
                    <input type="password" id="verifpass" required>
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.firstname, 'Prénom') }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.lastname, 'Nom') }}
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.birthday, 'Date de naissance') }}
                    {{ form_widget(form.birthday) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.placeOfBirth, 'Lieu de naissance') }}
                    {{ form_widget(form.placeOfBirth) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.address, 'Adresse') }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.city, 'Ville') }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.zipcode, 'Code postale') }}
                    {{ form_widget(form.zipcode) }}
                </div>

                <a class="btn btn-pinkApp d-block mr-auto ml-auto mt-3 mb-3" data-toggle="modal" data-target="#conditionModal">conditions d'utilisations</a>
                <!-- Modal -->
                <div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Conditions d'utilisations</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-wesBlack">
                                Ce site stock vos données dans l'unique but de générer vos boutons d'attestations personnels,
                                ainsi que de vous permettre de réinitialiser votre mot de passe en cas de perte.
                                Aucune de vos données ne sera utilisée ou ré-utilisée à quelque fin que ce soit.
                                Vous restez maître de celles-ci et pouvez à tout moment les supprimer dans leurs totalités directement dans votre espace membre.
                                Nous déclinons toutes responsabilités de l'usage que vous pourrez faire de ce site.
                                Cette application est réalisée avec Symfony 5 et a utilisé les projets open-source de <a href="https://github.com/GetLuko/Covid19-French-Auth" target="_blank">GetLuko/Covid19-Français-Auth</a>
                                et <a href="https://github.com/LAB-MI/attestation-deplacement-derogatoire-q4-2020" target="_blank">LAB-MI/attestation déplacement dérogatoire</a>
                                Pour toute information complémentaire, merci de prendre contact avec <a href="https://www.linkedin.com/in/pierre-dena%C3%ABs-0b4a7a61/" target="_blank">Pierre Denaës</a> sur son Linkedin.
                                Si vous souhaitez soutenir cette initiative vous pouvez le faire ici.
                                <div class="text-center">
                                    <a href="https://paypal.me/pools/c/8uoFJ5xUr4"><i class="fab fa-3x fa-cc-paypal text-wesBlue "></i></a>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-wesBlue" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="labelAccept" class="col-12 mt-1 mb-2 text-center">
                    {{ form_label(form.accept) }}
                    {{ form_widget(form.accept) }}
                </div>

                <div class="col-12 mt-1 mb-1">
                    {{ form_label(form.urltoattest) }}
                    {{ form_widget(form.urltoattest) }}
                </div>

            </div>
            <button id="saveBtn" onclick="refreshData()" class="btn btn-wesBlue mt-1 mb-1 pt-3 pb-3">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
            {#        <button onclick="refreshData()" class="btn btn-warning">Generate your Link</button>#}
        </fieldset>

        <div class="row m-auto">
            <div class="col-12">
                <div class="box box__profil--color mt-3 mb-4 center-div">
                    <a href="{{ path('home') }}"><i class="fas fa-3x fa-home icon icon__profil--color pt-4"></i></a>
                </div>
                <p class="mt-2 text-light reason">Page d'accueil</p>
            </div>
        </div>
    </div>
{% endblock %}
