{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}
    <h1>Ma page admin</h1>
    <h2>{{ app.user.username }} tu es un admin</h2>

    <p>
        You’ve probably heard of Lorem Ipsum before – it’s the most-used dummy text excerpt out there.
        People use it because it has a fairly normal distribution of letters and words (making it look like normal English),
        but it’s also Latin, which means your average reader won’t get distracted by trying to read it.
        It’s perfect for showcasing design work as it should look when fleshed out with text, because it allows viewers to focus on the design work itself, instead of the text.
        It’s also a great way to showcase the functionality of programs like word processors, font types, and more.
        We’ve taken Lorem Ipsum to the next level with our HTML-Ipsum tool.
        As you can see, this Lorem Ipsum is tailor-made for websites and other online projects that are based in HTML. Most web design projects use Lorem Ipsum excerpts to begin with,
        but you always have to spend an annoying extra minute or two formatting it properly for the web.
        Maybe you have a custom-styled ordered list you want to show off, or maybe you just want a long chunk of Lorem Ipsum that’s already wrapped in paragraph tags.
        No matter the need, we’ve put together a number of Lorem Ipsum samples ready to go with HTML tags and formatting in place.
        All you have to do is click the heading of any section on this page, and that HTML-Ipsum block is copied to your clipboard
        nd ready to be loaded into a website redesign template, brand new design mockup, or any other digital project you might need dummy text for.
        No matter the project, please remember to replace your fancy HTML-Ipsum with real content before you go live - t
        his is especially important if you're planning to implement a content-based marketing strategy for your new creation!
        Lorem Ipsum text is all well and good to demonstrate a design or project, but if you set a website loose on the Internet
        without replacing dummy text with relevant, high quality content, you’ll run into all sorts of potential Search Engine Optimization issues
        like thin content, duplicate content, and more.
        HTML-Ipsum is maintained by WebFX.
        For more information about us, please visit WebFX Reviews.
        To learn more about the industries we drive Internet marketing performormance for and our revenue driving services:
        SEO, PPC, social media, web design, local SEO and online advertising services.
    </p>
    <a class="btn btn-primary mt-3" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier mon compte</a>
    <a class="btn btn-info mt-3" href="{{ path('user_index') }}">Voir la liste des utilisateurs inscrit</a>
{% endblock %}

