{% extends 'base.html.twig' %}

{% block title %}Dérogation-covid{% endblock %}

{% block body %}
    <div class="text-center bodyapp mt-3 mb-2">
        <img class="home-img pt-2" width="930" height="930" src="{{ asset('image/clickatt-min.png') }}" alt="logo clique et atteste">
        <h1 id="sectionConnexion__h1">Dérogation<span class="text-wesYellow">-</span>Covid</h1>
        <h2 id="sectionConnexion__h2">L'attestation au bout des doigts</h2>
        {% if app.user.username %}
            <h3 class="text-wesBlack bg-light p-3">Bonjour {{ app.user.firstname }}</h3>
            <div class="row" id="sectionConnexion">
                <div class="col-6">
                    <div class="box box__profil--color mt-3 mb-2 center-div">
                        <a href="{{ path('member') }}" title="membre"><i class="fas fa-3x fa-door-open icon icon__profil--color pt-4"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            {# Si l'utilisateur est authentifié et qu'il est admin #}
                            <a class="btn btn-outline-warning" href="{{ path('admin') }}">Page admin</a>
                        {% endif %}
                    </div>
                    <p class="mt-2 text-light reason">Page membre</p>
                </div>
                <div class="col-6">
                    <div class="box box__profil--color mt-3 mb-2 center-div">
                        <a href="{{ path('app_logout') }}" title="deconnexion"><i class="fas fa-3x fa-power-off icon icon__profil--color pt-4"></i></a>
                    </div>
                    <p class="mt-2 text-light reason">Déconnexion</p>
                </div>
            </div>
            {% else %}
                <div class="row m-auto">
                    <div class="col-6">
                        <div class="box box__profil--color mt-3 mb-4 center-div">
                            <a href="{{ path('user_new') }}" title="inscription"><i class="fas fa-3x fa-sync icon icon__profil--color pt-4"></i></a>
                        </div>
                        <p class="mt-1 reason text-light h5">S'inscrire</p>
                    </div>
                    <div class="col-6">
                        <div class="box box__profil--color mt-3 mb-4 center-div">
                            <a href="{{ path('app_login') }}" title="connexion"><i class="far fa-3x fa-hand-peace icon icon__profil--color pt-4"></i></a>
                        </div>
                        <p class="mt-1 reason text-light h5">Se connecter</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p id="sectionConnexion__p">Partager Dérogation-covid.fr</p>
                </div>
                <div class=" m-auto col-12 d-flex justify-content-center a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://derogation-covid.fr" data-a2a-title="Derogation-covid Accueil">
                    <a class="m-1 a2a_button_facebook"></a>
                    <a class="m-1 a2a_button_twitter"></a>
                    <a class="m-1 a2a_button_email"></a>
                    <a class="m-1 a2a_button_linkedin"></a>
                    <a class="m-1 a2a_button_pinterest"></a>
                </div>
                <div class="col-12 text-center">
                    <a href="#" class="d-block" id="sectionConnexion__a" data-toggle="modal" data-target="#conditionModal1">A propos de dérogation-covid.fr</a>
                    <!-- Modal -->
                    <div class="modal fade" id="conditionModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">A propos de dérogation-covid.fr</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-wesBlack text-left">
                                    <p class="text-justify">Dérogation-covid.fr, est un service personnel de génération en un click,
                                        d'attestation dérogatoire covid-19 en version numérique, pensé pour smartphone.
                                        Ces attestations sont conformes aux exigences du <a href="https://media.interieur.gouv.fr/attestation-couvre-feu-covid-19/" target="_blank" rel="noopener">ministère de l'intérieur</a>. Vous pouvez toujours télécharger vos attestations au format pdf pour impression papier directement sur le <a href="https://www.interieur.gouv.fr/Actualites/L-actu-du-Ministere/Attestations-de-deplacement">site du gouvernement</a>. Pour finir si vous désirez les derniéres informations de notre état sur le Covid-19 c'est <a href="https://www.gouvernement.fr/info-coronavirus">ici</a>. </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-wesBlue" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>
{% endblock %}

