{% extends 'base.html.twig' %}

{% block title %}Page membre{% endblock %}

{% block body %}

    {% if app.user %}

        <div class="text-center bodyapp mt-3 mb-2">
            <h1 class="p-3 text-wesBlack bg-light">Mon espace attestation</h1>
            <h2 class="m-3 text-light">Bonjour {{ app.user.firstname }}</h2>
            <div class="row m-auto d-flex justify-content-around">
                {% for reason in reasons %}
                    <div class="col-6 col-md-4">
                        <div class="box mt-5 center-div">
                            <a href="{{ app.user.urltoattest }}&r={{ reason.name }}" target="_blank">
                                <i class="{{ reason.icon }} icon pt-3"></i></a>
                        </div>
                        <p class="mt-2 reason">{{ reason.namebtn }}</p>
                    </div>
                {% endfor %}
            </div>
            <h2 class="mt-5 mb-5 text-wesBlack bg-light p-3">Votre Compte</h2>
            <div class="row m-auto">
                <div class="col-6 col-md-4">
                    <div class="box box__profil--color mt-3 mb-4 center-div">
                        <a href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fas fa-3x fa-cog icon icon__profil--color pt-4"></i></a>
                    </div>
                    <p class="mt-2 text-light reason">Modification profil</p>
                </div>
                <div class="col-6 col-md-4">
                    <div class="box box__profil--color mt-3 mb-4 center-div">
                        <a href="{{ path('app_logout') }}"><i class="fas fa-3x fa-power-off icon icon__profil--color pt-4"></i></a>
                    </div>
                    <p class="mt-2 text-light reason">Déconnexion</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="box box__profil--color mt-3 mb-4 center-div">
                        <a href="{{ path('home') }}"><i class="fas fa-3x fa-home icon icon__profil--color pt-4"></i></a>
                    </div>
                    <p class="mt-2 text-light reason">Page d'accueil</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

